# Deep Learning
keras==2.15.0

# Data Science
numpy==1.24.3
pandas==1.5.3
scikit-learn==1.2.2
scipy==1.10.1
matplotlib==3.7.1
seaborn==0.12.2

# Séries temporelles
tslearn==0.5.3

# Jupyter & IPython
jupyterlab
ipykernel
